*{
    padding: 0;
    margin: 0;
    font-family: 'Gilda Display', serif;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;

}
#main{
    width: 100%;
    /* background-color: red; */
}
#loader{
    position: absolute;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: rgb(5, 5, 5);
}
#loader #topheading{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0 );
}
#loader h1{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4vw;
    transform: translate(-50%,-50%);
    font-family: 'Gilda Display', serif;
    font-weight: 300;
    /* background-color: red; */
}
#raja{
    color: #14CF93;
    /* font-family: 'Kristi', cursive; */
    font-family: 'Herr Von Muellerhoff', cursive;
    /* font-weight: 100; */
}



#topheading h5{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}
#green{
    width: 100%;
    position: absolute;
    top: 100%;
    height: 0vw;
    background-color: #14CF93;
}

.reveal .parent{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: hidden;
}
.reveal .parent .child{
    display: block;
}
.child span{
    display: inline-block;
}
#home{
    width: 100%;
    height: 200vh;
    background-color: #dadada;
}
#nav{
    width: 100%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;

    
}
#nav a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    color: black;
}
#nav a .line{
    position: absolute;
    width: 100%;
    height: 1px;
    display: inline-block;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    bottom: 0;
    background-color: black;
}
#nav a #line1{
    left: 0;
    width: 0%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    transition-delay: .1s;
}
#nav a #line2{
    right: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    width: 100%;
}
#nav a:hover #line2{
width: 0%;
}

#nav a:hover #line1{
    width:100%;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5vw;
    padding: 0 7vw;
    /* background-color: red; */
    line-height: 1;
    color: #333;
    padding-right: 12vw;
}
.row h1{
    font-size: 13vw;
    font-weight: 500;

}
.row .text{
    margin-top: 3vw;
}
.row h5{
    font-size: 11px;
    font-weight: 500;
    opacity: .6;
}
.row i{
    font-size: 60px;
    opacity: .6;
    font-weight: 100;
    /* height: 100px; */
    /* color: blue; */
}
.row:nth-child(3){
    /* background-color: yellow; */
    align-items: center;
    margin-top: 0;
}
.row svg{
    height: 150px;
    margin: 0 4vw;
}
path,polyline{
    stroke: #14CF93
}



